# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Databases
# *.db
# *.sqlite

# Go build output
/bin/
/build/
/dist/
*.log

# IDE / Editor files
.idea/
.vscode/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
